
.card {
  background-color: white;
  border-radius: 8px; /* Cantos arredondados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow: hidden; /* Garante que a imagem não saia do card */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ocupa o espaço que o Grid der */
  cursor: pointer;
  text-decoration: none; /* Remove sublinhado do link */
  color: inherit; /* Mantém a cor do texto padrão */
}

/* Efeito ao passar o mouse */
.card:hover {
  transform: translateY(-8px); /* Sobe um pouquinho */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15); /* Sombra mais forte */
}

/* Estilo da Bandeira */
.card-flag {
  width: 100%;
  height: 160px; /* Altura fixa para alinhar */
  object-fit: cover; /* Recorta a imagem para preencher sem distorcer */
  border-bottom: 1px solid #f0f0f0;
}

/* Estilo do Corpo do Card (Textos) */
.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espaço entre as linhas de texto */
}

/* Título do card */
.card-title {
  font-family: var(--font-Times New Roman); /* Usa a fonte Times New Roman */
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-main);
}

/* informações do card */
.card-info {
  font-size: 0.9rem;
  color: var(--text-main);
}

/* informações do card */
.card-info strong {
  color: var(--text-main);
  font-weight: 600;
}

/* --- BADGES COLORIDOS --- */
.badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  margin-left: 5px; /* Espaço após o texto 'Continente:' */
}

/* Cores específicas para cada continente */
.badge.africa { background-color: #2a9d8f; }
.badge.americas { background-color: #f4a261; }
.badge.asia { background-color: #e63946; }
.badge.europe { background-color: #457b9d; }
.badge.oceania { background-color: #1d3557; }