.main-header {
  background: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #eee; /* Linha mais sutil que o cinza anterior */
}

.header-content {
  width: 90%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between; /* Logo na esquerda, menu no meio, ícones na direita */
  align-items: center;
}

.logo {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: -1px;
}

.nav-menu {
  display: flex;
  gap: 15px;
}

.nav-menu-item {
  background: none;
  border: none;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 5px 0;
  transition: all 0.3s ease;
  border-bottom: 1px dashed transparent;
  text-transform: capitalize;
}

.nav-menu-item:hover {
  color: var(--primary-color);
  border-bottom: 1px dashed var(--primary-color);
}

.nav-menu-item[data-continent="africa"]:hover {
  color: #2a9d8f;
  border-bottom-color: #2a9d8f;
}

.nav-menu-item[data-continent="americas"]:hover {
  color: #f4a261;
  border-bottom-color: #f4a261;
}

.nav-menu-item[data-continent="asia"]:hover {
  color: #e63946;
  border-bottom-color: #e63946;
}

.nav-menu-item[data-continent="europe"]:hover {
  color: #330B67;
  border-bottom-color: #330B67;
}

.nav-menu-item[data-continent="oceania"]:hover {
  color: #A5D8F6;
  border-bottom-color: #A5D8F6;
}

body.dark .main-header {
  background-color: var(--card-bg);
  border: 1px solid #7b2cbf;
  border-bottom: 1px solid #ffffff1a;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 0 15px rgba(123, 44, 191, 0.2);
}
